In [27]:
import sys
sys.path.append("../_build/")

import constants
import pandas as pd
import numpy as np
import json
from datetime import datetime
from datetime import timedelta

In [65]:
def miles_hiked_per_day(df):
    completed = constants.get_completed(df)[[constants.DATE_COL, constants.TO_SPRINGER_COL]]
    completed[constants.DATE_COL+"_dt"] = completed[constants.DATE_COL].dt.strftime('%Y-%m-%d')

    # Need to shift the values, since the last checkpoint of each day should be the first checkpoint of the next day
    completed[constants.TO_SPRINGER_COL + '_shifted'] = completed[constants.TO_SPRINGER_COL].shift(1)
    completed[constants.DATE_COL + '_shifted'] = completed[constants.DATE_COL].shift(1)
    completed[constants.DATE_COL + '_dt_shifted'] = completed[constants.DATE_COL + '_dt'].shift(1)

    # Exclude calculating the overnight duration by filtering where the dates are different
    completed = completed[completed[constants.DATE_COL + '_dt'] == completed[constants.DATE_COL + '_dt_shifted']]

    # Group by day
    f = {constants.TO_SPRINGER_COL: 'last', 'to_spgr_shifted': 'first', constants.DATE_COL: 'last', constants.DATE_COL + '_shifted': 'first'}
    miles_per_day = completed.groupby(constants.DATE_COL+'_dt').agg(f)
    miles_per_day['miles'] = miles_per_day[constants.TO_SPRINGER_COL] - miles_per_day[constants.TO_SPRINGER_COL + '_shifted']
    miles_per_day['duration'] = miles_per_day[constants.DATE_COL] - miles_per_day[constants.DATE_COL + '_shifted']

    # Calculate Average Miles per Day (does not include zero days)
    avg_mileage = "0.0"
    if len(completed) > 0:
        avg_mileage = "{:.1f}".format(miles_per_day['miles'].mean())
    
    # Fill missing dates with zero miles
    miles_per_day.index = pd.DatetimeIndex(miles_per_day.index)
    start = miles_per_day.index[0]
    end = miles_per_day.index[-1]
    idx = pd.date_range(start, end)
    miles_per_day = miles_per_day.reindex(idx, fill_value=None)
    miles_per_day['miles'] = miles_per_day['miles'].fillna(0.0)
    miles_per_day['duration'] = miles_per_day['duration'].fillna(0.0)
    miles_per_day['to_spgr'] = miles_per_day['to_spgr'].fillna(method='ffill')
    
    # Calculate rolling 2 week mean over miles per day
    mean_excluding_zero = lambda x: x[np.nonzero(x)].mean()
    miles_per_day['rolling'] = miles_per_day['miles'].rolling(14, min_periods=1).apply(mean_excluding_zero)

    # Calculate how many miles I need to average to finish on time.  This assumes I take a zero every 10 days (* 0.9)
    estimated_finish = datetime.strptime(constants.ESTIMATED_FINISH_DT , '%Y-%m-%d')
    
    miles_per_day['days_to_finish'] = (estimated_finish - miles_per_day.index).total_seconds() * 0.9 / (24 * 60 * 60)
    miles_per_day['miles_remaining'] = df[constants.TO_SPRINGER_COL].iloc[-1] - miles_per_day['to_spgr']
    miles_per_day['need_to_average'] = miles_per_day['miles_remaining'] / miles_per_day['days_to_finish']
    
    # Fix rounding issue by converting each mileage value into a string
    miles_per_day['date'] = miles_per_day.index
    miles_per_day['date'] = miles_per_day['date'].dt.strftime('%Y-%m-%d')
    miles_per_day['miles'] = miles_per_day['miles'].apply(lambda x: float('{:.1f}'.format(x)))
    miles_per_day['duration'] = miles_per_day['duration'].apply(lambda x: int('{:.0f}'.format(x.total_seconds() / 60)))
    miles_per_day['rolling'] = miles_per_day['rolling'].apply(lambda x: float('{:.1f}'.format(x)))
    miles_per_day['need_to_average'] = miles_per_day['need_to_average'].apply(lambda x: float('{:.1f}'.format(x)))

    # Fill in the missing days so we can calculate the number of zero days
    num_zeros = 0
    if len(completed) > 0:
        zeros = miles_per_day.copy()
        idx = pd.date_range(zeros.index.min(), zeros.index.max())
        zeros.index = pd.DatetimeIndex(zeros.index)
        zeros = zeros.reindex(idx, fill_value=0)
        num_zeros = len(zeros[zeros['miles'] == 0])

    return {'mileage': miles_per_day[['date', 'miles', 'duration', 'rolling', 'need_to_average']].to_dict('records'), 'avg_mileage': avg_mileage, 'num_zeros': num_zeros}

In [66]:
checkpoints = constants.read_poi_file()
mpd = miles_hiked_per_day(checkpoints)

print(mpd)

{'mileage': [{'date': '2017-03-13', 'miles': 7.3, 'duration': 214, 'rolling': 7.3, 'need_to_average': 14.9}, {'date': '2017-03-14', 'miles': 5.8, 'duration': 205, 'rolling': 6.6, 'need_to_average': 15.0}, {'date': '2017-03-15', 'miles': 3.8, 'duration': 104, 'rolling': 5.6, 'need_to_average': 15.1}, {'date': '2017-03-16', 'miles': 7.7, 'duration': 302, 'rolling': 6.2, 'need_to_average': 15.1}, {'date': '2017-03-17', 'miles': 8.4, 'duration': 325, 'rolling': 6.6, 'need_to_average': 15.1}, {'date': '2017-03-18', 'miles': 7.2, 'duration': 259, 'rolling': 6.7, 'need_to_average': 15.2}, {'date': '2017-03-19', 'miles': 11.5, 'duration': 325, 'rolling': 7.4, 'need_to_average': 15.2}, {'date': '2017-03-20', 'miles': 9.7, 'duration': 240, 'rolling': 7.7, 'need_to_average': 15.2}, {'date': '2017-03-21', 'miles': 0.0, 'duration': 0, 'rolling': 7.7, 'need_to_average': 15.3}, {'date': '2017-03-22', 'miles': 10.4, 'duration': 296, 'rolling': 8.0, 'need_to_average': 15.3}, {'date': '2017-03-23', 'miles': 10.8, 'duration': 387, 'rolling': 8.3, 'need_to_average': 15.4}, {'date': '2017-03-24', 'miles': 12.2, 'duration': 385, 'rolling': 8.6, 'need_to_average': 15.4}, {'date': '2017-03-25', 'miles': 16.3, 'duration': 443, 'rolling': 9.3, 'need_to_average': 15.4}, {'date': '2017-03-26', 'miles': 7.2, 'duration': 159, 'rolling': 9.1, 'need_to_average': 15.4}, {'date': '2017-03-27', 'miles': 0.0, 'duration': 0, 'rolling': 9.2, 'need_to_average': 15.5}, {'date': '2017-03-28', 'miles': 15.8, 'duration': 460, 'rolling': 10.1, 'need_to_average': 15.5}, {'date': '2017-03-29', 'miles': 11.7, 'duration': 381, 'rolling': 10.7, 'need_to_average': 15.5}, {'date': '2017-03-30', 'miles': 6.7, 'duration': 183, 'rolling': 10.7, 'need_to_average': 15.6}, {'date': '2017-03-31', 'miles': 9.1, 'duration': 255, 'rolling': 10.7, 'need_to_average': 15.6}, {'date': '2017-04-01', 'miles': 12.8, 'duration': 314, 'rolling': 11.2, 'need_to_average': 15.6}, {'date': '2017-04-02', 'miles': 0.0, 'duration': 0, 'rolling': 11.2, 'need_to_average': 15.7}, {'date': '2017-04-03', 'miles': 0.0, 'duration': 0, 'rolling': 11.3, 'need_to_average': 15.8}, {'date': '2017-04-04', 'miles': 17.3, 'duration': 496, 'rolling': 11.8, 'need_to_average': 15.8}, {'date': '2017-04-05', 'miles': 6.1, 'duration': 201, 'rolling': 11.5, 'need_to_average': 15.9}, {'date': '2017-04-06', 'miles': 17.8, 'duration': 581, 'rolling': 12.1, 'need_to_average': 15.9}, {'date': '2017-04-07', 'miles': 0.0, 'duration': 0, 'rolling': 12.1, 'need_to_average': 16.0}, {'date': '2017-04-08', 'miles': 15.1, 'duration': 425, 'rolling': 12.0, 'need_to_average': 16.0}, {'date': '2017-04-09', 'miles': 18.4, 'duration': 503, 'rolling': 13.1, 'need_to_average': 15.9}, {'date': '2017-04-10', 'miles': 13.3, 'duration': 417, 'rolling': 13.1, 'need_to_average': 15.9}, {'date': '2017-04-11', 'miles': 20.2, 'duration': 509, 'rolling': 13.5, 'need_to_average': 15.9}, {'date': '2017-04-12', 'miles': 0.0, 'duration': 0, 'rolling': 13.7, 'need_to_average': 16.0}, {'date': '2017-04-13', 'miles': 10.6, 'duration': 305, 'rolling': 14.1, 'need_to_average': 16.0}, {'date': '2017-04-14', 'miles': 15.9, 'duration': 507, 'rolling': 14.8, 'need_to_average': 16.0}, {'date': '2017-04-15', 'miles': 15.5, 'duration': 494, 'rolling': 15.0, 'need_to_average': 16.0}, {'date': '2017-04-16', 'miles': 15.8, 'duration': 522, 'rolling': 15.1, 'need_to_average': 16.0}, {'date': '2017-04-17', 'miles': 11.1, 'duration': 268, 'rolling': 14.8, 'need_to_average': 16.0}, {'date': '2017-04-18', 'miles': 4.3, 'duration': 98, 'rolling': 13.7, 'need_to_average': 16.1}, {'date': '2017-04-19', 'miles': 12.8, 'duration': 346, 'rolling': 14.2, 'need_to_average': 16.1}, {'date': '2017-04-20', 'miles': 17.6, 'duration': 530, 'rolling': 14.2, 'need_to_average': 16.1}, {'date': '2017-04-21', 'miles': 15.7, 'duration': 469, 'rolling': 14.3, 'need_to_average': 16.1}, {'date': '2017-04-22', 'miles': 13.3, 'duration': 401, 'rolling': 14.2, 'need_to_average': 16.1}, {'date': '2017-04-23', 'miles': 12.0, 'duration': 273, 'rolling': 13.7, 'need_to_average': 16.1}, {'date': '2017-04-24', 'miles': 17.7, 'duration': 538, 'rolling': 14.0, 'need_to_average': 16.1}, {'date': '2017-04-25', 'miles': 33.1, 'duration': 760, 'rolling': 15.0, 'need_to_average': 15.9}, {'date': '2017-04-26', 'miles': 0.0, 'duration': 0, 'rolling': 15.0, 'need_to_average': 16.1}, {'date': '2017-04-27', 'miles': 0.0, 'duration': 0, 'rolling': 15.4, 'need_to_average': 16.2}, {'date': '2017-04-28', 'miles': 15.8, 'duration': 400, 'rolling': 15.4, 'need_to_average': 16.2}, {'date': '2017-04-29', 'miles': 12.3, 'duration': 365, 'rolling': 15.1, 'need_to_average': 16.2}, {'date': '2017-04-30', 'miles': 21.2, 'duration': 650, 'rolling': 15.6, 'need_to_average': 16.1}, {'date': '2017-05-01', 'miles': 14.1, 'duration': 288, 'rolling': 15.8, 'need_to_average': 16.2}, {'date': '2017-05-02', 'miles': 13.5, 'duration': 416, 'rolling': 16.6, 'need_to_average': 16.2}, {'date': '2017-05-03', 'miles': 16.3, 'duration': 481, 'rolling': 16.9, 'need_to_average': 16.1}, {'date': '2017-05-04', 'miles': 11.9, 'duration': 287, 'rolling': 16.4, 'need_to_average': 16.2}, {'date': '2017-05-05', 'miles': 15.8, 'duration': 250, 'rolling': 16.4, 'need_to_average': 16.2}, {'date': '2017-05-06', 'miles': 0.0, 'duration': 0, 'rolling': 16.7, 'need_to_average': 16.3}, {'date': '2017-05-07', 'miles': 20.2, 'duration': 496, 'rolling': 17.4, 'need_to_average': 16.3}, {'date': '2017-05-08', 'miles': 15.7, 'duration': 422, 'rolling': 17.3, 'need_to_average': 16.2}, {'date': '2017-05-09', 'miles': 16.1, 'duration': 352, 'rolling': 15.7, 'need_to_average': 16.2}, {'date': '2017-05-10', 'miles': 16.5, 'duration': 541, 'rolling': 15.8, 'need_to_average': 16.2}, {'date': '2017-05-11', 'miles': 14.6, 'duration': 475, 'rolling': 15.7, 'need_to_average': 16.2}, {'date': '2017-05-12', 'miles': 22.5, 'duration': 598, 'rolling': 16.2, 'need_to_average': 16.1}, {'date': '2017-05-13', 'miles': 13.6, 'duration': 578, 'rolling': 16.3, 'need_to_average': 16.1}, {'date': '2017-05-14', 'miles': 18.8, 'duration': 490, 'rolling': 16.1, 'need_to_average': 16.1}], 'avg_mileage': '13.6', 'num_zeros': 9}

In [68]:
df = constants.read_poi_file()    

completed = constants.get_completed(df)[[constants.DATE_COL, constants.TO_SPRINGER_COL]]
completed[constants.DATE_COL+"_dt"] = completed[constants.DATE_COL].dt.strftime('%Y-%m-%d')

print(len(completed))
print(len(df))
completed.head(10)

439
745

           dt_reached  to_spgr dt_reached_dt
0 2017-03-13 10:03:00     -8.8    2017-03-13
1 2017-03-13 13:37:00     -1.5    2017-03-13
2 2017-03-14 11:37:00     -1.5    2017-03-14
3 2017-03-14 12:14:00      0.0    2017-03-14
4 2017-03-14 12:25:00      0.2    2017-03-14
5 2017-03-14 12:47:00      1.0    2017-03-14
6 2017-03-14 13:18:00      2.0    2017-03-14
7 2017-03-14 13:42:00      2.8    2017-03-14
8 2017-03-14 15:02:00      4.3    2017-03-14
9 2017-03-15 12:02:00      4.3    2017-03-15

In [69]:
# Need to shift the values, since the last checkpoint of each day should be the first checkpoint of the next day
completed[constants.TO_SPRINGER_COL + '_shifted'] = completed[constants.TO_SPRINGER_COL].shift(1)
completed[constants.DATE_COL + '_shifted'] = completed[constants.DATE_COL].shift(1)
completed[constants.DATE_COL + '_dt_shifted'] = completed[constants.DATE_COL + '_dt'].shift(1)

completed.head(10)

,dt_reached,to_spgr,dt_reached_dt,to_spgr_shifted,dt_reached_shifted,dt_reached_dt_shifted
0,2017-03-13 10:03:00,-8.8,2017-03-13,NaN,NaT,NaN
1,2017-03-13 13:37:00,-1.5,2017-03-13,-8.8,2017-03-13 10:03:00,2017-03-13
2,2017-03-14 11:37:00,-1.5,2017-03-14,-1.5,2017-03-13 13:37:00,2017-03-13
3,2017-03-14 12:14:00,0.0,2017-03-14,-1.5,2017-03-14 11:37:00,2017-03-14
4,2017-03-14 12:25:00,0.2,2017-03-14,0.0,2017-03-14 12:14:00,2017-03-14
5,2017-03-14 12:47:00,1.0,2017-03-14,0.2,2017-03-14 12:25:00,2017-03-14
6,2017-03-14 13:18:00,2.0,2017-03-14,1.0,2017-03-14 12:47:00,2017-03-14
7,2017-03-14 13:42:00,2.8,2017-03-14,2.0,2017-03-14 13:18:00,2017-03-14
8,2017-03-14 15:02:00,4.3,2017-03-14,2.8,2017-03-14 13:42:00,2017-03-14
9,2017-03-15 12:02:00,4.3,2017-03-15,4.3,2017-03-14 15:02:00,2017-03-14

In [70]:
# Group by day
f = {constants.TO_SPRINGER_COL: 'last', 'to_spgr_shifted': 'first', constants.DATE_COL: 'last', constants.DATE_COL + '_shifted': 'first'}
miles_per_day = completed.groupby(constants.DATE_COL+'_dt').agg(f)
miles_per_day['miles'] = miles_per_day[constants.TO_SPRINGER_COL] - miles_per_day[constants.TO_SPRINGER_COL + '_shifted']
miles_per_day['duration'] = miles_per_day[constants.DATE_COL] - miles_per_day[constants.DATE_COL + '_shifted']

# Fill missing dates with zero miles
miles_per_day.index = pd.DatetimeIndex(miles_per_day.index)
start = miles_per_day.index[0]
end = miles_per_day.index[-1]
idx = pd.date_range(start, end)
miles_per_day = miles_per_day.reindex(idx, fill_value=None)
miles_per_day['miles'] = miles_per_day['miles'].fillna(0.0)
miles_per_day['to_spgr'] = miles_per_day['to_spgr'].fillna(method='ffill')

miles_per_day.head(10)

,to_spgr,to_spgr_shifted,dt_reached,dt_reached_shifted,miles,duration
2017-03-13,-1.5,-8.8,2017-03-13 13:37:00,2017-03-13 10:03:00,7.3,0 days 03:34:00
2017-03-14,4.3,-1.5,2017-03-14 15:02:00,2017-03-13 13:37:00,5.8,1 days 01:25:00
2017-03-15,8.1,4.3,2017-03-15 13:46:00,2017-03-14 15:02:00,3.8,0 days 22:44:00
2017-03-16,15.8,8.1,2017-03-16 13:58:00,2017-03-15 13:46:00,7.7,1 days 00:12:00
2017-03-17,24.2,15.8,2017-03-17 14:34:00,2017-03-16 13:58:00,8.4,1 days 00:36:00
2017-03-18,31.4,24.2,2017-03-18 11:35:00,2017-03-17 14:34:00,7.2,0 days 21:01:00
2017-03-19,42.9,31.4,2017-03-19 12:54:00,2017-03-18 11:35:00,11.5,1 days 01:19:00
2017-03-20,52.6,42.9,2017-03-20 11:58:00,2017-03-19 12:54:00,9.7,0 days 23:04:00
2017-03-21,52.6,NaN,NaT,NaT,0.0,NaT
2017-03-22,63.0,52.6,2017-03-22 14:02:00,2017-03-20 11:58:00,10.4,2 days 02:04:00

In [72]:
estimated_finish = datetime.strptime(constants.ESTIMATED_FINISH_DT , '%Y-%m-%d')

miles_per_day['days_to_finish'] = (estimated_finish - miles_per_day.index).total_seconds() * 0.9 / (24 * 60 * 60) 
miles_per_day['miles_remaining'] = df[constants.TO_SPRINGER_COL].iloc[-1] - miles_per_day['to_spgr']
miles_per_day['need_to_average'] = miles_per_day['miles_remaining'] / miles_per_day['days_to_finish']

miles_per_day.head(1000)

,to_spgr,to_spgr_shifted,dt_reached,dt_reached_shifted,miles,duration,days_to_finish,miles_remaining,need_to_average
2017-03-13,-1.5,-8.8,2017-03-13 13:37:00,2017-03-13 10:03:00,7.3,0 days 03:34:00,146.7,2191.3,14.937287
2017-03-14,4.3,-1.5,2017-03-14 15:02:00,2017-03-13 13:37:00,5.8,1 days 01:25:00,145.8,2185.5,14.989712
2017-03-15,8.1,4.3,2017-03-15 13:46:00,2017-03-14 15:02:00,3.8,0 days 22:44:00,144.9,2181.7,15.056591
2017-03-16,15.8,8.1,2017-03-16 13:58:00,2017-03-15 13:46:00,7.7,1 days 00:12:00,144.0,2174.0,15.097222
2017-03-17,24.2,15.8,2017-03-17 14:34:00,2017-03-16 13:58:00,8.4,1 days 00:36:00,143.1,2165.6,15.133473
2017-03-18,31.4,24.2,2017-03-18 11:35:00,2017-03-17 14:34:00,7.2,0 days 21:01:00,142.2,2158.4,15.178622
2017-03-19,42.9,31.4,2017-03-19 12:54:00,2017-03-18 11:35:00,11.5,1 days 01:19:00,141.3,2146.9,15.193914
2017-03-20,52.6,42.9,2017-03-20 11:58:00,2017-03-19 12:54:00,9.7,0 days 23:04:00,140.4,2137.2,15.222222
2017-03-21,52.6,NaN,NaT,NaT,0.0,NaT,139.5,2137.2,15.320430
2017-03-22,63.0,52.6,2017-03-22 14:02:00,2017-03-20 11:58:00,10.4,2 days 02:04:00,138.6,2126.8,15.344877
2017-03-23,73.8,63.0,2017-03-23 14:35:00,2017-03-22 14:02:00,10.8,1 days 00:33:00,137.7,2116.0,15.366739
2017-03-24,86.0,73.8,2017-03-24 14:35:00,2017-03-23 14:35:00,12.2,1 days 00:00:00,136.8,2103.8,15.378655
2017-03-25,102.3,86.0,2017-03-25 16:08:00,2017-03-24 14:35:00,16.3,1 days 01:33:00,135.9,2087.5,15.360559
2017-03-26,109.5,102.3,2017-03-26 10:21:00,2017-03-25 16:08:00,7.2,0 days 18:13:00,135.0,2080.3,15.409630
2017-03-27,109.5,NaN,NaT,NaT,0.0,NaT,134.1,2080.3,15.513050
2017-03-28,125.3,109.5,2017-03-28 17:16:00,2017-03-26 10:21:00,15.8,2 days 06:55:00,133.2,2064.5,15.499249
2017-03-29,137.0,125.3,2017-03-29 12:15:00,2017-03-28 17:16:00,11.7,0 days 18:59:00,132.3,2052.8,15.516251
2017-03-30,143.7,137.0,2017-03-30 16:53:00,2017-03-29 12:15:00,6.7,1 days 04:38:00,131.4,2046.1,15.571537
2017-03-31,152.8,143.7,2017-03-31 13:07:00,2017-03-30 16:53:00,9.1,0 days 20:14:00,130.5,2037.0,15.609195
2017-04-01,165.6,152.8,2017-04-01 12:44:00,2017-03-31 13:07:00,12.8,0 days 23:37:00,129.6,2024.2,15.618827
2017-04-02,165.6,NaN,NaT,NaT,0.0,NaT,128.7,2024.2,15.728050
2017-04-03,165.6,NaN,NaT,NaT,0.0,NaT,127.8,2024.2,15.838811
2017-04-04,182.9,165.6,2017-04-04 15:41:00,2017-04-01 12:44:00,17.3,3 days 02:57:00,126.9,2006.9,15.814815
2017-04-05,189.0,182.9,2017-04-05 11:05:00,2017-04-04 15:41:00,6.1,0 days 19:24:00,126.0,2000.8,15.879365
2017-04-06,206.8,189.0,2017-04-06 18:05:00,2017-04-05 11:05:00,17.8,1 days 07:00:00,125.1,1983.0,15.851319
2017-04-07,206.8,NaN,NaT,NaT,0.0,NaT,124.2,1983.0,15.966184
2017-04-08,221.9,206.8,2017-04-08 17:09:00,2017-04-06 18:05:00,15.1,1 days 23:04:00,123.3,1967.9,15.960260
2017-04-09,240.3,221.9,2017-04-09 16:11:00,2017-04-08 17:09:00,18.4,0 days 23:02:00,122.4,1949.5,15.927288
2017-04-10,253.6,240.3,2017-04-10 17:29:00,2017-04-09 16:11:00,13.3,1 days 01:18:00,121.5,1936.2,15.935802
2017-04-11,273.8,253.6,2017-04-11 16:10:00,2017-04-10 17:29:00,20.2,0 days 22:41:00,120.6,1916.0,15.887231
...,...,...,...,...,...,...,...,...,...
2017-04-15,315.8,300.3,2017-04-15 16:25:00,2017-04-14 16:19:00,15.5,1 days 00:06:00,117.0,1874.0,16.017094
2017-04-16,331.6,315.8,2017-04-16 17:05:00,2017-04-15 16:25:00,15.8,1 days 00:40:00,116.1,1858.2,16.005168
2017-04-17,342.7,331.6,2017-04-17 12:17:00,2017-04-16 17:05:00,11.1,0 days 19:12:00,115.2,1847.1,16.033854
2017-04-18,347.0,342.7,2017-04-18 15:14:00,2017-04-17 12:17:00,4.3,1 days 02:57:00,114.3,1842.8,16.122485
2017-04-19,359.8,347.0,2017-04-19 15:23:00,2017-04-18 15:14:00,12.8,1 days 00:09:00,113.4,1830.0,16.137566
2017-04-20,377.4,359.8,2017-04-20 17:07:00,2017-04-19 15:23:00,17.6,1 days 01:44:00,112.5,1812.4,16.110222
2017-04-21,393.1,377.4,2017-04-21 15:50:00,2017-04-20 17:07:00,15.7,0 days 22:43:00,111.6,1796.7,16.099462
2017-04-22,406.4,393.1,2017-04-22 16:17:00,2017-04-21 15:50:00,13.3,1 days 00:27:00,110.7,1783.4,16.110208
2017-04-23,418.4,406.4,2017-04-23 11:58:00,2017-04-22 16:17:00,12.0,0 days 19:41:00,109.8,1771.4,16.132969
2017-04-24,436.1,418.4,2017-04-24 17:55:00,2017-04-23 11:58:00,17.7,1 days 05:57:00,108.9,1753.7,16.103765
2017-04-25,469.2,436.1,2017-04-25 20:48:00,2017-04-24 17:55:00,33.1,1 days 02:53:00,108.0,1720.6,15.931481
2017-04-26,469.2,NaN,NaT,NaT,0.0,NaT,107.1,1720.6,16.065359
2017-04-27,469.2,NaN,NaT,NaT,0.0,NaT,106.2,1720.6,16.201507
2017-04-28,485.0,469.2,2017-04-28 16:14:00,2017-04-25 20:48:00,15.8,2 days 19:26:00,105.3,1704.8,16.189934
2017-04-29,497.3,485.0,2017-04-29 13:49:00,2017-04-28 16:14:00,12.3,0 days 21:35:00,104.4,1692.5,16.211686
2017-04-30,518.5,497.3,2017-04-30 18:56:00,2017-04-29 13:49:00,21.2,1 days 05:07:00,103.5,1671.3,16.147826
2017-05-01,532.6,518.5,2017-05-01 12:34:00,2017-04-30 18:56:00,14.1,0 days 17:38:00,102.6,1657.2,16.152047
2017-05-02,546.1,532.6,2017-05-02 18:26:00,2017-05-01 12:34:00,13.5,1 days 05:52:00,101.7,1643.7,16.162242
2017-05-03,562.4,546.1,2017-05-03 16:33:00,2017-05-02 18:26:00,16.3,0 days 22:07:00,100.8,1627.4,16.144841
2017-05-04,574.3,562.4,2017-05-04 12:22:00,2017-05-03 16:33:00,11.9,0 days 19:49:00,99.9,1615.5,16.171171
2017-05-05,590.1,574.3,2017-05-05 14:12:00,2017-05-04 12:22:00,15.8,1 days 01:50:00,99.0,1599.7,16.158586
2017-05-06,590.1,NaN,NaT,NaT,0.0,NaT,98.1,1599.7,16.306830
2017-05-07,610.3,590.1,2017-05-07 17:02:00,2017-05-05 14:12:00,20.2,2 days 02:50:00,97.2,1579.5,16.250000
2017-05-08,626.0,610.3,2017-05-08 14:17:00,2017-05-07 17:02:00,15.7,0 days 21:15:00,96.3,1563.8,16.238837
2017-05-09,642.1,626.0,2017-05-09 13:18:00,2017-05-08 14:17:00,16.1,0 days 23:01:00,95.4,1547.7,16.223270
2017-05-10,658.6,642.1,2017-05-10 16:42:00,2017-05-09 13:18:00,16.5,1 days 03:24:00,94.5,1531.2,16.203175
2017-05-11,673.2,658.6,2017-05-11 15:45:00,2017-05-10 16:42:00,14.6,0 days 23:03:00,93.6,1516.6,16.202991
2017-05-12,695.7,673.2,2017-05-12 17:23:00,2017-05-11 15:45:00,22.5,1 days 01:38:00,92.7,1494.1,16.117584
2017-05-13,709.3,695.7,2017-05-13 19:17:00,2017-05-12 17:23:00,13.6,1 days 01:54:00,91.8,1480.5,16.127451
2017-05-14,728.1,709.3,2017-05-14 12:55:00,2017-05-13 19:17:00,18.8,0 days 17:38:00,90.9,1461.7,16.080308

In [24]:
# Fix rounding issue by converting each mileage value into a string
miles_per_day['date'] = miles_per_day.index
miles_per_day['date'] = miles_per_day['date'].dt.strftime('%Y-%m-%d')
miles_per_day['miles'] = miles_per_day['miles'].apply(lambda x: float('{:.1f}'.format(x)))
miles_per_day['duration'] = miles_per_day['duration'].apply(lambda x: int('{:.0f}'.format(x.total_seconds() / 60)))

mpd = {'mileage': miles_per_day[['date', 'miles', 'duration']].to_dict('records')}

print(mpd)

{'mileage': [{'date': '2017-03-13', 'miles': 7.3, 'duration': 214}, {'date': '2017-03-14', 'miles': 5.8, 'duration': 1525}, {'date': '2017-03-15', 'miles': 3.8, 'duration': 1364}, {'date': '2017-03-16', 'miles': 7.7, 'duration': 1452}, {'date': '2017-03-17', 'miles': 8.4, 'duration': 1476}, {'date': '2017-03-18', 'miles': 7.2, 'duration': 1261}, {'date': '2017-03-19', 'miles': 11.5, 'duration': 1519}, {'date': '2017-03-20', 'miles': 9.7, 'duration': 1384}, {'date': '2017-03-21', 'miles': 0.0, 'duration': 0}, {'date': '2017-03-22', 'miles': 10.4, 'duration': 3004}, {'date': '2017-03-23', 'miles': 10.8, 'duration': 1473}, {'date': '2017-03-24', 'miles': 12.2, 'duration': 1440}, {'date': '2017-03-25', 'miles': 16.3, 'duration': 1533}, {'date': '2017-03-26', 'miles': 7.2, 'duration': 1093}, {'date': '2017-03-27', 'miles': 0.0, 'duration': 0}, {'date': '2017-03-28', 'miles': 15.8, 'duration': 3295}, {'date': '2017-03-29', 'miles': 11.7, 'duration': 1139}, {'date': '2017-03-30', 'miles': 6.7, 'duration': 1718}, {'date': '2017-03-31', 'miles': 9.1, 'duration': 1214}, {'date': '2017-04-01', 'miles': 12.8, 'duration': 1417}, {'date': '2017-04-02', 'miles': 0.0, 'duration': 0}, {'date': '2017-04-03', 'miles': 0.0, 'duration': 0}, {'date': '2017-04-04', 'miles': 17.3, 'duration': 4497}, {'date': '2017-04-05', 'miles': 6.1, 'duration': 1164}, {'date': '2017-04-06', 'miles': 17.8, 'duration': 1860}, {'date': '2017-04-07', 'miles': 0.0, 'duration': 0}, {'date': '2017-04-08', 'miles': 15.1, 'duration': 2824}, {'date': '2017-04-09', 'miles': 18.4, 'duration': 1382}, {'date': '2017-04-10', 'miles': 13.3, 'duration': 1518}, {'date': '2017-04-11', 'miles': 20.2, 'duration': 1361}, {'date': '2017-04-12', 'miles': 0.0, 'duration': 0}, {'date': '2017-04-13', 'miles': 10.6, 'duration': 2924}, {'date': '2017-04-14', 'miles': 15.9, 'duration': 1405}, {'date': '2017-04-15', 'miles': 15.5, 'duration': 1446}]}

In [26]:
with open(constants.statsFilePath, 'w') as outfile:
    json.dump({**mpd}, outfile)