In [15]:
import sys
sys.path.append("../_build/")

import constants
import pandas as pd
import numpy as np
import json

In [24]:
def miles_hiked_per_day(df):
    completed = constants.get_completed(df)[[constants.DATE_COL, constants.TO_SPRINGER_COL]]
    completed[constants.DATE_COL+"_dt"] = completed[constants.DATE_COL].dt.strftime('%Y-%m-%d')

    # Need to shift the values, since the last checkpoint of each day should be the first checkpoint of the next day
    completed[constants.TO_SPRINGER_COL + '_shifted'] = completed[constants.TO_SPRINGER_COL].shift(1)
    completed[constants.DATE_COL + '_shifted'] = completed[constants.DATE_COL].shift(1)
    completed[constants.DATE_COL + '_dt_shifted'] = completed[constants.DATE_COL + '_dt'].shift(1)

    # Exclude calculating the overnight duration by filtering where the dates are different
    completed = completed[completed[constants.DATE_COL + '_dt'] == completed[constants.DATE_COL + '_dt_shifted']]

    # Group by day
    f = {constants.TO_SPRINGER_COL: 'last', 'to_spgr_shifted': 'first', constants.DATE_COL: 'last', constants.DATE_COL + '_shifted': 'first'}
    miles_per_day = completed.groupby(constants.DATE_COL+'_dt').agg(f)
    miles_per_day['miles'] = miles_per_day[constants.TO_SPRINGER_COL] - miles_per_day[constants.TO_SPRINGER_COL + '_shifted']
    miles_per_day['duration'] = miles_per_day[constants.DATE_COL] - miles_per_day[constants.DATE_COL + '_shifted']

    # Calculate Average Miles per Day (does not include zero days)
    avg_mileage = "0.0"
    if len(completed) > 0:
        avg_mileage = "{:.1f}".format(miles_per_day['miles'].mean())
    
    # Fill missing dates with zero miles
    miles_per_day.index = pd.DatetimeIndex(miles_per_day.index)
    start = miles_per_day.index[0]
    end = miles_per_day.index[-1]
    idx = pd.date_range(start, end)
    miles_per_day = miles_per_day.reindex(idx, fill_value=0)
    
    # Calculate rolling 2 week mean over miles per day
    mean_excluding_zero = lambda x: x[np.nonzero(x)].mean()
    miles_per_day['rolling'] = miles_per_day['miles'].rolling(14, min_periods=1).apply(mean_excluding_zero)

    # Fix rounding issue by converting each mileage value into a string
    miles_per_day['date'] = miles_per_day.index
    miles_per_day['date'] = miles_per_day['date'].dt.strftime('%Y-%m-%d')
    miles_per_day['miles'] = miles_per_day['miles'].apply(lambda x: float('{:.1f}'.format(x)))
    miles_per_day['duration'] = miles_per_day['duration'].apply(lambda x: int('{:.0f}'.format(x.total_seconds() / 60)))
    miles_per_day['rolling'] = miles_per_day['rolling'].apply(lambda x: float('{:.1f}'.format(x)))

    # Fill in the missing days so we can calculate the number of zero days
    num_zeros = 0
    if len(completed) > 0:
        zeros = miles_per_day.copy()
        idx = pd.date_range(zeros.index.min(), zeros.index.max())
        zeros.index = pd.DatetimeIndex(zeros.index)
        zeros = zeros.reindex(idx, fill_value=0)
        num_zeros = len(zeros[zeros['miles'] == 0])

    return {'mileage': miles_per_day[['date', 'miles', 'duration', 'rolling']].to_dict('records'), 'avg_mileage': avg_mileage, 'num_zeros': num_zeros}

In [25]:
checkpoints = constants.read_poi_file()
mpd = miles_hiked_per_day(checkpoints)

print(mpd)

{'mileage': [{'date': '2017-03-13', 'miles': 7.3, 'duration': 214, 'rolling': 7.3}, {'date': '2017-03-14', 'miles': 5.8, 'duration': 205, 'rolling': 6.6}, {'date': '2017-03-15', 'miles': 3.8, 'duration': 104, 'rolling': 5.6}, {'date': '2017-03-16', 'miles': 7.7, 'duration': 302, 'rolling': 6.2}, {'date': '2017-03-17', 'miles': 8.4, 'duration': 325, 'rolling': 6.6}, {'date': '2017-03-18', 'miles': 7.2, 'duration': 259, 'rolling': 6.7}, {'date': '2017-03-19', 'miles': 11.5, 'duration': 325, 'rolling': 7.4}, {'date': '2017-03-20', 'miles': 9.7, 'duration': 240, 'rolling': 7.7}, {'date': '2017-03-21', 'miles': 0.0, 'duration': 0, 'rolling': 7.7}, {'date': '2017-03-22', 'miles': 10.4, 'duration': 296, 'rolling': 8.0}, {'date': '2017-03-23', 'miles': 10.8, 'duration': 387, 'rolling': 8.3}, {'date': '2017-03-24', 'miles': 12.2, 'duration': 385, 'rolling': 8.6}, {'date': '2017-03-25', 'miles': 16.3, 'duration': 443, 'rolling': 9.3}, {'date': '2017-03-26', 'miles': 7.2, 'duration': 159, 'rolling': 9.1}, {'date': '2017-03-27', 'miles': 0.0, 'duration': 0, 'rolling': 9.2}, {'date': '2017-03-28', 'miles': 15.8, 'duration': 460, 'rolling': 10.1}, {'date': '2017-03-29', 'miles': 11.7, 'duration': 381, 'rolling': 10.7}, {'date': '2017-03-30', 'miles': 6.7, 'duration': 183, 'rolling': 10.7}, {'date': '2017-03-31', 'miles': 9.1, 'duration': 255, 'rolling': 10.7}, {'date': '2017-04-01', 'miles': 12.8, 'duration': 314, 'rolling': 11.2}, {'date': '2017-04-02', 'miles': 0.0, 'duration': 0, 'rolling': 11.2}, {'date': '2017-04-03', 'miles': 0.0, 'duration': 0, 'rolling': 11.3}, {'date': '2017-04-04', 'miles': 17.3, 'duration': 496, 'rolling': 11.8}, {'date': '2017-04-05', 'miles': 6.1, 'duration': 201, 'rolling': 11.5}, {'date': '2017-04-06', 'miles': 17.8, 'duration': 581, 'rolling': 12.1}, {'date': '2017-04-07', 'miles': 0.0, 'duration': 0, 'rolling': 12.1}, {'date': '2017-04-08', 'miles': 15.1, 'duration': 425, 'rolling': 12.0}, {'date': '2017-04-09', 'miles': 18.4, 'duration': 503, 'rolling': 13.1}, {'date': '2017-04-10', 'miles': 13.3, 'duration': 417, 'rolling': 13.1}, {'date': '2017-04-11', 'miles': 20.2, 'duration': 509, 'rolling': 13.5}, {'date': '2017-04-12', 'miles': 0.0, 'duration': 0, 'rolling': 13.7}, {'date': '2017-04-13', 'miles': 10.6, 'duration': 305, 'rolling': 14.1}, {'date': '2017-04-14', 'miles': 15.9, 'duration': 507, 'rolling': 14.8}, {'date': '2017-04-15', 'miles': 15.5, 'duration': 494, 'rolling': 15.0}, {'date': '2017-04-16', 'miles': 15.8, 'duration': 522, 'rolling': 15.1}, {'date': '2017-04-17', 'miles': 11.1, 'duration': 268, 'rolling': 14.8}, {'date': '2017-04-18', 'miles': 4.3, 'duration': 98, 'rolling': 13.7}, {'date': '2017-04-19', 'miles': 12.8, 'duration': 346, 'rolling': 14.2}, {'date': '2017-04-20', 'miles': 17.6, 'duration': 530, 'rolling': 14.2}, {'date': '2017-04-21', 'miles': 15.7, 'duration': 469, 'rolling': 14.3}, {'date': '2017-04-22', 'miles': 13.3, 'duration': 401, 'rolling': 14.2}, {'date': '2017-04-23', 'miles': 12.0, 'duration': 273, 'rolling': 13.7}, {'date': '2017-04-24', 'miles': 17.7, 'duration': 538, 'rolling': 14.0}, {'date': '2017-04-25', 'miles': 33.1, 'duration': 760, 'rolling': 15.0}, {'date': '2017-04-26', 'miles': 0.0, 'duration': 0, 'rolling': 15.0}, {'date': '2017-04-27', 'miles': 0.0, 'duration': 0, 'rolling': 15.4}, {'date': '2017-04-28', 'miles': 15.8, 'duration': 400, 'rolling': 15.4}, {'date': '2017-04-29', 'miles': 12.3, 'duration': 365, 'rolling': 15.1}, {'date': '2017-04-30', 'miles': 21.2, 'duration': 650, 'rolling': 15.6}, {'date': '2017-05-01', 'miles': 14.1, 'duration': 288, 'rolling': 15.8}, {'date': '2017-05-02', 'miles': 13.5, 'duration': 416, 'rolling': 16.6}, {'date': '2017-05-03', 'miles': 16.3, 'duration': 481, 'rolling': 16.9}, {'date': '2017-05-04', 'miles': 11.9, 'duration': 287, 'rolling': 16.4}, {'date': '2017-05-05', 'miles': 15.8, 'duration': 250, 'rolling': 16.4}, {'date': '2017-05-06', 'miles': 0.0, 'duration': 0, 'rolling': 16.7}, {'date': '2017-05-07', 'miles': 20.2, 'duration': 496, 'rolling': 17.4}, {'date': '2017-05-08', 'miles': 15.7, 'duration': 422, 'rolling': 17.3}, {'date': '2017-05-09', 'miles': 16.1, 'duration': 352, 'rolling': 15.7}, {'date': '2017-05-10', 'miles': 16.5, 'duration': 541, 'rolling': 15.8}, {'date': '2017-05-11', 'miles': 14.6, 'duration': 475, 'rolling': 15.7}, {'date': '2017-05-12', 'miles': 22.5, 'duration': 598, 'rolling': 16.2}, {'date': '2017-05-13', 'miles': 13.6, 'duration': 578, 'rolling': 16.3}, {'date': '2017-05-14', 'miles': 18.8, 'duration': 490, 'rolling': 16.1}], 'avg_mileage': '13.6', 'num_zeros': 9}

In [4]:
df = constants.read_poi_file()    

completed = constants.get_completed(df)[[constants.DATE_COL, constants.TO_SPRINGER_COL]]
completed[constants.DATE_COL+"_dt"] = completed[constants.DATE_COL].dt.strftime('%Y-%m-%d')

print(len(completed))
print(len(df))
completed.head(10)

439
745

           dt_reached  to_spgr dt_reached_dt
0 2017-03-13 10:03:00     -8.8    2017-03-13
1 2017-03-13 13:37:00     -1.5    2017-03-13
2 2017-03-14 11:37:00     -1.5    2017-03-14
3 2017-03-14 12:14:00      0.0    2017-03-14
4 2017-03-14 12:25:00      0.2    2017-03-14
5 2017-03-14 12:47:00      1.0    2017-03-14
6 2017-03-14 13:18:00      2.0    2017-03-14
7 2017-03-14 13:42:00      2.8    2017-03-14
8 2017-03-14 15:02:00      4.3    2017-03-14
9 2017-03-15 12:02:00      4.3    2017-03-15

In [5]:
# Need to shift the values, since the last checkpoint of each day should be the first checkpoint of the next day
completed[constants.TO_SPRINGER_COL + '_shifted'] = completed[constants.TO_SPRINGER_COL].shift(1)
completed[constants.DATE_COL + '_shifted'] = completed[constants.DATE_COL].shift(1)
completed[constants.DATE_COL + '_dt_shifted'] = completed[constants.DATE_COL + '_dt'].shift(1)

completed.head(10)

,dt_reached,to_spgr,dt_reached_dt,to_spgr_shifted,dt_reached_shifted,dt_reached_dt_shifted
0,2017-03-13 10:03:00,-8.8,2017-03-13,NaN,NaT,NaN
1,2017-03-13 13:37:00,-1.5,2017-03-13,-8.8,2017-03-13 10:03:00,2017-03-13
2,2017-03-14 11:37:00,-1.5,2017-03-14,-1.5,2017-03-13 13:37:00,2017-03-13
3,2017-03-14 12:14:00,0.0,2017-03-14,-1.5,2017-03-14 11:37:00,2017-03-14
4,2017-03-14 12:25:00,0.2,2017-03-14,0.0,2017-03-14 12:14:00,2017-03-14
5,2017-03-14 12:47:00,1.0,2017-03-14,0.2,2017-03-14 12:25:00,2017-03-14
6,2017-03-14 13:18:00,2.0,2017-03-14,1.0,2017-03-14 12:47:00,2017-03-14
7,2017-03-14 13:42:00,2.8,2017-03-14,2.0,2017-03-14 13:18:00,2017-03-14
8,2017-03-14 15:02:00,4.3,2017-03-14,2.8,2017-03-14 13:42:00,2017-03-14
9,2017-03-15 12:02:00,4.3,2017-03-15,4.3,2017-03-14 15:02:00,2017-03-14

In [7]:
# Group by day
f = {constants.TO_SPRINGER_COL: 'last', 'to_spgr_shifted': 'first', constants.DATE_COL: 'last', constants.DATE_COL + '_shifted': 'first'}
miles_per_day = completed.groupby(constants.DATE_COL+'_dt').agg(f)
miles_per_day['miles'] = miles_per_day[constants.TO_SPRINGER_COL] - miles_per_day[constants.TO_SPRINGER_COL + '_shifted']
miles_per_day['duration'] = miles_per_day[constants.DATE_COL] - miles_per_day[constants.DATE_COL + '_shifted']

# Fill missing dates with zero miles
miles_per_day.index = pd.DatetimeIndex(miles_per_day.index)
start = miles_per_day.index[0]
end = miles_per_day.index[-1]
idx = pd.date_range(start, end)
miles_per_day = miles_per_day.reindex(idx, fill_value=0)

miles_per_day.head(10)

,to_spgr,to_spgr_shifted,dt_reached,dt_reached_shifted,miles,duration
2017-03-13,-1.5,-8.8,2017-03-13 13:37:00,2017-03-13 10:03:00,7.3,0 days 03:34:00
2017-03-14,4.3,-1.5,2017-03-14 15:02:00,2017-03-13 13:37:00,5.8,1 days 01:25:00
2017-03-15,8.1,4.3,2017-03-15 13:46:00,2017-03-14 15:02:00,3.8,0 days 22:44:00
2017-03-16,15.8,8.1,2017-03-16 13:58:00,2017-03-15 13:46:00,7.7,1 days 00:12:00
2017-03-17,24.2,15.8,2017-03-17 14:34:00,2017-03-16 13:58:00,8.4,1 days 00:36:00
2017-03-18,31.4,24.2,2017-03-18 11:35:00,2017-03-17 14:34:00,7.2,0 days 21:01:00
2017-03-19,42.9,31.4,2017-03-19 12:54:00,2017-03-18 11:35:00,11.5,1 days 01:19:00
2017-03-20,52.6,42.9,2017-03-20 11:58:00,2017-03-19 12:54:00,9.7,0 days 23:04:00
2017-03-21,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00
2017-03-22,63.0,52.6,2017-03-22 14:02:00,2017-03-20 11:58:00,10.4,2 days 02:04:00

In [23]:
test = miles_per_day.copy()

mean_excluding_zero = lambda x: x[np.nonzero(x)].mean()

test['avg'] = miles_per_day['miles'].rolling(14, min_periods=1).apply(mean_excluding_zero)

test

,to_spgr,to_spgr_shifted,dt_reached,dt_reached_shifted,miles,duration,avg
2017-03-13,-1.5,-8.8,2017-03-13 13:37:00,2017-03-13 10:03:00,7.3,0 days 03:34:00,7.300000
2017-03-14,4.3,-1.5,2017-03-14 15:02:00,2017-03-13 13:37:00,5.8,1 days 01:25:00,6.550000
2017-03-15,8.1,4.3,2017-03-15 13:46:00,2017-03-14 15:02:00,3.8,0 days 22:44:00,5.633333
2017-03-16,15.8,8.1,2017-03-16 13:58:00,2017-03-15 13:46:00,7.7,1 days 00:12:00,6.150000
2017-03-17,24.2,15.8,2017-03-17 14:34:00,2017-03-16 13:58:00,8.4,1 days 00:36:00,6.600000
2017-03-18,31.4,24.2,2017-03-18 11:35:00,2017-03-17 14:34:00,7.2,0 days 21:01:00,6.700000
2017-03-19,42.9,31.4,2017-03-19 12:54:00,2017-03-18 11:35:00,11.5,1 days 01:19:00,7.385714
2017-03-20,52.6,42.9,2017-03-20 11:58:00,2017-03-19 12:54:00,9.7,0 days 23:04:00,7.675000
2017-03-21,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00,7.675000
2017-03-22,63.0,52.6,2017-03-22 14:02:00,2017-03-20 11:58:00,10.4,2 days 02:04:00,7.977778
2017-03-23,73.8,63.0,2017-03-23 14:35:00,2017-03-22 14:02:00,10.8,1 days 00:33:00,8.260000
2017-03-24,86.0,73.8,2017-03-24 14:35:00,2017-03-23 14:35:00,12.2,1 days 00:00:00,8.618182
2017-03-25,102.3,86.0,2017-03-25 16:08:00,2017-03-24 14:35:00,16.3,1 days 01:33:00,9.258333
2017-03-26,109.5,102.3,2017-03-26 10:21:00,2017-03-25 16:08:00,7.2,0 days 18:13:00,9.100000
2017-03-27,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00,9.250000
2017-03-28,125.3,109.5,2017-03-28 17:16:00,2017-03-26 10:21:00,15.8,2 days 06:55:00,10.083333
2017-03-29,137.0,125.3,2017-03-29 12:15:00,2017-03-28 17:16:00,11.7,0 days 18:59:00,10.741667
2017-03-30,143.7,137.0,2017-03-30 16:53:00,2017-03-29 12:15:00,6.7,1 days 04:38:00,10.658333
2017-03-31,152.8,143.7,2017-03-31 13:07:00,2017-03-30 16:53:00,9.1,0 days 20:14:00,10.716667
2017-04-01,165.6,152.8,2017-04-01 12:44:00,2017-03-31 13:07:00,12.8,0 days 23:37:00,11.183333
2017-04-02,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00,11.154545
2017-04-03,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00,11.300000
2017-04-04,182.9,165.6,2017-04-04 15:41:00,2017-04-01 12:44:00,17.3,3 days 02:57:00,11.845455
2017-04-05,189.0,182.9,2017-04-05 11:05:00,2017-04-04 15:41:00,6.1,0 days 19:24:00,11.454545
2017-04-06,206.8,189.0,2017-04-06 18:05:00,2017-04-05 11:05:00,17.8,1 days 07:00:00,12.090909
2017-04-07,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00,12.080000
2017-04-08,221.9,206.8,2017-04-08 17:09:00,2017-04-06 18:05:00,15.1,1 days 23:04:00,11.960000
2017-04-09,240.3,221.9,2017-04-09 16:11:00,2017-04-08 17:09:00,18.4,0 days 23:02:00,13.080000
2017-04-10,253.6,240.3,2017-04-10 17:29:00,2017-04-09 16:11:00,13.3,1 days 01:18:00,13.100000
2017-04-11,273.8,253.6,2017-04-11 16:10:00,2017-04-10 17:29:00,20.2,0 days 22:41:00,13.500000
...,...,...,...,...,...,...,...
2017-04-15,315.8,300.3,2017-04-15 16:25:00,2017-04-14 16:19:00,15.5,1 days 00:06:00,15.020000
2017-04-16,331.6,315.8,2017-04-16 17:05:00,2017-04-15 16:25:00,15.8,1 days 00:40:00,15.090909
2017-04-17,342.7,331.6,2017-04-17 12:17:00,2017-04-16 17:05:00,11.1,0 days 19:12:00,14.758333
2017-04-18,347.0,342.7,2017-04-18 15:14:00,2017-04-17 12:17:00,4.3,1 days 02:57:00,13.675000
2017-04-19,359.8,347.0,2017-04-19 15:23:00,2017-04-18 15:14:00,12.8,1 days 00:09:00,14.233333
2017-04-20,377.4,359.8,2017-04-20 17:07:00,2017-04-19 15:23:00,17.6,1 days 01:44:00,14.216667
2017-04-21,393.1,377.4,2017-04-21 15:50:00,2017-04-20 17:07:00,15.7,0 days 22:43:00,14.330769
2017-04-22,406.4,393.1,2017-04-22 16:17:00,2017-04-21 15:50:00,13.3,1 days 00:27:00,14.192308
2017-04-23,418.4,406.4,2017-04-23 11:58:00,2017-04-22 16:17:00,12.0,0 days 19:41:00,13.700000
2017-04-24,436.1,418.4,2017-04-24 17:55:00,2017-04-23 11:58:00,17.7,1 days 05:57:00,14.038462
2017-04-25,469.2,436.1,2017-04-25 20:48:00,2017-04-24 17:55:00,33.1,1 days 02:53:00,15.030769
2017-04-26,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00,15.030769
2017-04-27,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00,15.400000
2017-04-28,485.0,469.2,2017-04-28 16:14:00,2017-04-25 20:48:00,15.8,2 days 19:26:00,15.391667
2017-04-29,497.3,485.0,2017-04-29 13:49:00,2017-04-28 16:14:00,12.3,0 days 21:35:00,15.125000
2017-04-30,518.5,497.3,2017-04-30 18:56:00,2017-04-29 13:49:00,21.2,1 days 05:07:00,15.575000
2017-05-01,532.6,518.5,2017-05-01 12:34:00,2017-04-30 18:56:00,14.1,0 days 17:38:00,15.825000
2017-05-02,546.1,532.6,2017-05-02 18:26:00,2017-05-01 12:34:00,13.5,1 days 05:52:00,16.591667
2017-05-03,562.4,546.1,2017-05-03 16:33:00,2017-05-02 18:26:00,16.3,0 days 22:07:00,16.883333
2017-05-04,574.3,562.4,2017-05-04 12:22:00,2017-05-03 16:33:00,11.9,0 days 19:49:00,16.408333
2017-05-05,590.1,574.3,2017-05-05 14:12:00,2017-05-04 12:22:00,15.8,1 days 01:50:00,16.416667
2017-05-06,0.0,0.0,1970-01-01 00:00:00,1970-01-01 00:00:00,0.0,0 days 00:00:00,16.700000
2017-05-07,610.3,590.1,2017-05-07 17:02:00,2017-05-05 14:12:00,20.2,2 days 02:50:00,17.445455
2017-05-08,626.0,610.3,2017-05-08 14:17:00,2017-05-07 17:02:00,15.7,0 days 21:15:00,17.263636
2017-05-09,642.1,626.0,2017-05-09 13:18:00,2017-05-08 14:17:00,16.1,0 days 23:01:00,15.718182
2017-05-10,658.6,642.1,2017-05-10 16:42:00,2017-05-09 13:18:00,16.5,1 days 03:24:00,15.783333
2017-05-11,673.2,658.6,2017-05-11 15:45:00,2017-05-10 16:42:00,14.6,0 days 23:03:00,15.692308
2017-05-12,695.7,673.2,2017-05-12 17:23:00,2017-05-11 15:45:00,22.5,1 days 01:38:00,16.207692
2017-05-13,709.3,695.7,2017-05-13 19:17:00,2017-05-12 17:23:00,13.6,1 days 01:54:00,16.307692
2017-05-14,728.1,709.3,2017-05-14 12:55:00,2017-05-13 19:17:00,18.8,0 days 17:38:00,16.123077

In [24]:
# Fix rounding issue by converting each mileage value into a string
miles_per_day['date'] = miles_per_day.index
miles_per_day['date'] = miles_per_day['date'].dt.strftime('%Y-%m-%d')
miles_per_day['miles'] = miles_per_day['miles'].apply(lambda x: float('{:.1f}'.format(x)))
miles_per_day['duration'] = miles_per_day['duration'].apply(lambda x: int('{:.0f}'.format(x.total_seconds() / 60)))

mpd = {'mileage': miles_per_day[['date', 'miles', 'duration']].to_dict('records')}

print(mpd)

{'mileage': [{'date': '2017-03-13', 'miles': 7.3, 'duration': 214}, {'date': '2017-03-14', 'miles': 5.8, 'duration': 1525}, {'date': '2017-03-15', 'miles': 3.8, 'duration': 1364}, {'date': '2017-03-16', 'miles': 7.7, 'duration': 1452}, {'date': '2017-03-17', 'miles': 8.4, 'duration': 1476}, {'date': '2017-03-18', 'miles': 7.2, 'duration': 1261}, {'date': '2017-03-19', 'miles': 11.5, 'duration': 1519}, {'date': '2017-03-20', 'miles': 9.7, 'duration': 1384}, {'date': '2017-03-21', 'miles': 0.0, 'duration': 0}, {'date': '2017-03-22', 'miles': 10.4, 'duration': 3004}, {'date': '2017-03-23', 'miles': 10.8, 'duration': 1473}, {'date': '2017-03-24', 'miles': 12.2, 'duration': 1440}, {'date': '2017-03-25', 'miles': 16.3, 'duration': 1533}, {'date': '2017-03-26', 'miles': 7.2, 'duration': 1093}, {'date': '2017-03-27', 'miles': 0.0, 'duration': 0}, {'date': '2017-03-28', 'miles': 15.8, 'duration': 3295}, {'date': '2017-03-29', 'miles': 11.7, 'duration': 1139}, {'date': '2017-03-30', 'miles': 6.7, 'duration': 1718}, {'date': '2017-03-31', 'miles': 9.1, 'duration': 1214}, {'date': '2017-04-01', 'miles': 12.8, 'duration': 1417}, {'date': '2017-04-02', 'miles': 0.0, 'duration': 0}, {'date': '2017-04-03', 'miles': 0.0, 'duration': 0}, {'date': '2017-04-04', 'miles': 17.3, 'duration': 4497}, {'date': '2017-04-05', 'miles': 6.1, 'duration': 1164}, {'date': '2017-04-06', 'miles': 17.8, 'duration': 1860}, {'date': '2017-04-07', 'miles': 0.0, 'duration': 0}, {'date': '2017-04-08', 'miles': 15.1, 'duration': 2824}, {'date': '2017-04-09', 'miles': 18.4, 'duration': 1382}, {'date': '2017-04-10', 'miles': 13.3, 'duration': 1518}, {'date': '2017-04-11', 'miles': 20.2, 'duration': 1361}, {'date': '2017-04-12', 'miles': 0.0, 'duration': 0}, {'date': '2017-04-13', 'miles': 10.6, 'duration': 2924}, {'date': '2017-04-14', 'miles': 15.9, 'duration': 1405}, {'date': '2017-04-15', 'miles': 15.5, 'duration': 1446}]}

In [26]:
with open(constants.statsFilePath, 'w') as outfile:
    json.dump({**mpd}, outfile)